---
---

@import "{{ site.theme }}";

#header { display: none }
section { margin-top: 0px }
p { text-align: justify }
.youtube { position: relative; max-width: 560px; padding-top: 56.25%; display: block; margin: 0 auto 20px; }
.youtube > iframe { position: absolute; width:100%; height: 100%; left: 0; top: 0; }
